@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

body {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.1px;
  background-color: var(--Very-light-grayish-blue);
}

main {
  padding: 2rem;
  border-radius: 1rem;
  width: 45.688rem;
  background-color: var(--White);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  color: var(--Very-dark-blue);
  display: flex;
  align-items: center;
}

#notification-number {
  font-size: 1rem;
  color: var(--White);
  background-color: var(--Blue);
  width: 2rem;
  padding: 0.1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  text-align: center;
}

#mark-read {
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--Dark-grayish-blue);
  background: transparent;
  border: 0;
}

#mark-read:hover {
  color: var(--Blue);
  cursor: pointer;
}

.notifications-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--Grayish-blue);
}

.notification:last-child {
  margin: 0;
}

/* Styling for user avatars */
img {
  max-width: 3rem;
  margin-right: 1.3rem;
}

.user-name {
  color: var(--Very-dark-blue);
  font-weight: 800;
  margin-right: 0.3rem;
}

.notification-bold {
  font-weight: 800;
  color: var(--Dark-grayish-blue);
  margin-left: 0.2rem;
}

.notification-blue {
  color: var(--Blue);
  font-weight: 800;
  margin-left: 0.2rem;
}

/* Hover states for various elements */
span:hover {
  cursor: pointer;
}

.notification-blue:hover,
.notification-bold:hover {
  color: var(--Blue);
}

span:focus-visible,
.notification:focus-visible,
#mark-read:focus-visible {
  outline: 2px solid var(--Blue);
  border-radius: 0.5rem;
}

.read {
  margin-bottom: 1rem;
}

.unread {
  background-color: var(--Very-light-grayish-blue);
}

.unread-icon {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.25rem;
  background: var(--Red);
  border-radius: 100%;
}

.notification-time-stamp {
  display: block;
  color: var(--Grayish-blue);
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 0.1rem;
}

#Rizky {
  margin-top: 0.5rem;
}

#Rizky-img {
  align-self: baseline;
}

.private-message {
  outline: 1px solid var(--Light-grayish-blue-2);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  color: var(--Grayish-blue);
  cursor: pointer;
}

.private-message:hover {
  background-color: var(--Light-grayish-blue-1);
  outline: none;
}

#img-girl-chess {
  margin-left: auto;
  margin-right: 0;
}

/* Responsive design for screens up to 768px wide */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  main {
    width: auto;
    padding: 0rem;
    margin: 1rem;
  }

  nav {
    margin: 1.35rem 0;
  }

  h3 {
    font-size: 1.3rem;
  }

  #notification-number {
    font-size: 0.9rem;
  }

  #img-girl-chess {
    max-width: 2.5rem;
    align-self: first baseline;
  }
}
